<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>EduApp - About</title>
        <link rel="shortcut icon" href="img/favicon.png" type="image/png">

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

        <!-- Custom Fonts -->
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

        <!-- Plugin CSS -->
        <link rel="stylesheet" href="css/animate.min.css" type="text/css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/eduapp.css" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body id="page-top">
        <%= partial "header" %></%>

        <div class="aboutus">
            <header id="blog">
                <div class="container">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Lorem ipsum dolor sit amet consectetuer adipiscing elit</h1>
                        </div>
                    </div>
                </div>
            </header>

            <section class="about">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 content">
                            <div class="row">
                                <div class="col-sm-2"><img class="img-circle img-responsive user-image" src="img/img.jpg" alt=""></div>
                                <div class="col-sm-10">
                                    <h2>Lorem ipsum dolor sit amet elit consectetuer adipiscing</h2>
                                </div>
                            </div>
                            <h3>
                                About <span>Us</span>
                            </h3>
                            <p repeat="3">Nam ut fringilla turpis. Curabitur lobortis tempus tellus, in volutpat lectus. Aenean urna eros, laoreet sit amet aliquam vestibulum, laoreet sit amet nisi. Duis pharetra</p>
                            <h3>
                                Lorem <span>Ipsum</span>
                            </h3>
                            <ul>
                                <li repeat="3">Curabitur lobortis tempus tellus, in volutpat lectus. Aenean urna eros</li>
                            </ul>
                            <h3>
                                Lorem <span>Ipsum</span>
                            </h3>
                            <ul>
                                <li repeat="3">Curabitur lobortis tempus tellus, in volutpat lectus. Aenean urna eros, laoreet sit amet aliquam vestibulum, laoreet sit amet nisi. Duis pharetra</li>
                            </ul>
                            <br repeat="2">
                            <form role="form">
                                <div class="form-group float-label-control">
                                    <label for="">Firstname</label>
                                    <input type="text" class="form-control" placeholder="Firstname">
                                </div>
                                <div class="form-group float-label-control">
                                    <label for="">Lastname</label>
                                    <input type="text" class="form-control" placeholder="Lastname">
                                </div>
                                <div class="form-group float-label-control">
                                    <label for="">Email</label>
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group float-label-control">
                                    <label for="">Mobile</label>
                                    <input type="text" class="form-control" placeholder="Mobile">
                                </div>
                                <div class="form-group float-label-control">
                                    <label for="">Company</label>
                                    <input type="text" class="form-control" placeholder="Company">
                                </div>
                                <div class="form-group float-label-control">
                                    <label for="">Textarea</label>
                                    <textarea class="form-control" placeholder="Textarea" rows="1"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-4 sidebar">
                            <h2>Consectetuer adipiscing</h2>
                            <br>
                            <h4>Lorem Ipsum</h4>
                            <ul>
                                <li repeat="8"><a href="">Dolor sit amet</a></li>
                            </ul>
                            <br>
                            <h4>Lorem Ipsum</h4>
                            <ul>
                                <li repeat="3"><a href="">Dolor sit amet</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6" repeat="8">
                            <div class="card hovercard">
                                <div class="cardheader"></div>
                                <div class="avatar">
                                    <img alt="" src="http://lorempixel.com/100/100/people/9/">
                                </div>
                                <div class="info">
                                    <div class="title">
                                        <a target="_blank" href="http://scripteden.com/">Lorem Ipsum</a>
                                    </div>
                                    <div class="desc">Curabitur condimentum</div>
                                    <div class="desc">Vestibulum tempor</div>
                                    <div class="desc">Class aptent</div>
                                </div>
                                <div class="bottom">
                                    <a class="btn btn-primary btn-twitter btn-sm" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" rel="publisher" href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                    <a class="btn btn-primary btn-sm" rel="publisher" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a class="btn btn-warning btn-sm" rel="publisher" href="#">
                                        <i class="fa fa-behance"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <%= partial "footer" %></%>
        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/jquery.fittext.js"></script>
        <script src="js/wow.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/eduapp.js"></script>
    </body>
</html>
